.root{
    -fx-background-color: #282828;
}

#closebutton {
    -fx-background-color: #282828;
}

#settingbutton {
    -fx-background-color: #282828;
}

.chart-plot-background {
    -fx-background-color: #282828;
}

